.skeletons {
  background-color: var(--skeletonColor);
  margin: 1rem 0;

  &__wrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--skeletonWrapper);
    padding: 1rem;
  }

  &.text {
    width: 100%;
    height: 2rem;
  }
  &.title {
    width: 70%;
    height: 5rem;
    margin-bottom: 2rem;
  }
  &.titleCenter {
    width: 50%;
    height: 3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  &.subtitle {
    width: 50%;
    height: 3rem;
    margin-bottom: 2rem;
  }
  &.img {
    width: 100%;
    padding-bottom: 100%;
  }
  &.pill {
    width: 25%;
    height: 3rem;
    border-radius: 2rem;
    margin: 0 auto;
  }
  &.meta {
    width: 45%;
    height: 1.5rem;
  }
  &.button {
    width: 100%;
    height: 6rem;
  }

  &__info {
    align-self: center;
    padding: 0 6rem;
  }
  &__container {
    margin: 3rem 0;
  }
}

/* Shimmer */

.shimmer {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  width: 60%;
  height: 100%;
  background: var(--shimmerColor);
  box-shadow: var(--shimmerGlow);
  transform: skewX(-20deg);
}
