@import './variables.scss';

/* HOME */
.pagination {
  &__container {
    @include container-basics(block);

    padding-top: 0;
    text-align: center;
  }

  &__item {
    width: 5rem;
    height: 5rem;

    &:not(&:last-child) {
      margin-right: 2rem;
    }
  }
}

/* PRODUCT PAGE */
.single-prod {
  &__img {
    box-shadow: var(--shadow);
  }
  &__info {
    align-self: center;
    padding: 0 6rem;

    .breadcrumbs {
      display: block;
      color: var(--colorComplement);
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-bottom: 3rem;

      a {
        color: inherit;
      }
    }

    .title {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 8rem;
      line-height: 1;
    }

    .brand {
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--colorComplement);
      margin-bottom: 1rem;
    }

    .description {
      margin-bottom: 2rem;
    }

    .meta {
      font-size: 0.9em;
      font-weight: 300;

      span {
        color: var(--colorComplement);
        font-weight: 600;
      }
    }

    .price {
      width: 100%;
      font-family: 'Playfair Display', serif;
      font-size: 6rem;
      font-weight: 400;
      text-align: right;
      margin-bottom: 2rem;
    }
  }
}

/* LOGIN */
.form {
  &__image {
    object-fit: cover;
    height: 100%;
  }

  &__info {
    padding: 0 6rem;
    align-self: center;
  }

  &__input-group {
    margin-bottom: 2rem;

    label {
      display: block;
      margin-left: 2rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-size: 1.75rem;
      letter-spacing: 0.5px;
    }

    input {
      background-color: inherit;
      color: inherit;
      width: 100%;
      min-height: 5rem;
      height: auto;
      padding: 0.75rem 2rem;
      border: 1px solid var(--textColor);
      border-radius: 3rem;
      background-color: var(--bgColor);

      &:focus {
        outline-color: #eee;
      }

      &::placeholder {
        color: var(--textColor);
        opacity: 0.3;
      }
    }
  }
}

/* DASHBOARD */
.dashboard {
  &__container {
    @include container-basics(block);
  }
}
