:root {
  // Colors
  --color-primary: #20d1b1;
  --color-complement: #0993f5;
  --color-secondary: #121ef3;

  --bg-color: #fafafa;
  --text-color: #333;

  // Gradients
  --gradient-bg-primary: linear-gradient(
    75deg,
    var(--color-primary) 0%,
    var(--color-complement) 50%,
    var(--color-secondary) 100%
  );
}
/*
@media (prefers-color-scheme: dark) {
}*/

$body-width: calc(100% - 8rem);

@mixin container-basics {
  width: $body-width;
  padding: 5rem 6rem;
}
