:root {
  // Colors
  --colorPrimary: #20d1b1;
  --colorComplement: #0993f5;
  --colorSecondary: #121ef3;

  --bgColor: #fafafa;
  --textColor: #333;

  // Gradients
  --gradient-bg-primary: linear-gradient(
    75deg,
    var(--colorPrimary) 0%,
    var(--colorComplement) 50%,
    var(--colorSecondary) 100%
  );
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --colorPrimary: #d120ae;
    --colorComplement: #f56409;
    --colorSecondary: #f3b312;

    --bgColor: #011129;
    --textColor: #fafafa;
  }
}
*/

$body-width: calc(100% - 8rem);

@mixin container-basics {
  width: $body-width;
  padding: 5rem 6rem;
}
