.btn {
  padding: 1.5rem;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: var(--color-primary);
  color: var(--bg-color);

  &:disabled {
    opacity: 0.6;
  }

  &.btn--full {
    width: 100%;
  }
}
