.search {
  margin-right: 6rem;
  position: absolute;
  right: 8rem;
  top: 2.5rem;

  &-input {
    color: inherit;
    height: auto;
    min-height: 5rem;
    padding: 0.75rem 2rem;
    border: 1px solid var(--textColor);
    border-radius: 3rem;
    background-color: var(--bgColor);

    &:focus {
      outline-color: #eee;
    }

    &::placeholder {
      color: var(--textColor);
      opacity: 0.3;
    }
  }

  &-button {
    color: var(--textColor);
    border: none;
    background-color: transparent;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
